<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Aros para Yoga</title>

  <!-- Inicia Head (CSS General, Tipografía y Fontawesome para íconos)-->
  <%- include('./template/head.ejs') %>
    <!-- Fin Head (CSS General, Tipografía y Fontawesome para íconos)-->

    <!-- Inicia enlace para CSS Tienda -->
    <link rel="stylesheet" href="../css/cssTienda.css" />
    <!-- Inicia enlace para CSS Tienda -->

    <!-- Inicia enlace para CSS Articulos -->
    <link rel="stylesheet" href="../css/cssArticulos.css" />
    <!-- Inicia enlace para CSS Articulos -->

    <!-- Inicia enlace para CSS Zoom -->
    <link rel="stylesheet" href="../css/cssZoom.css" />
    <!-- Inicia enlace para CSS Zoom -->

    
</head>
<body class="tienda">
  <!-- Inicia Barra superior-->
  <%- include('./template/barraSuperior.ejs') %>
    <!-- Fin Barra superior-->
    
    <header>
      <%- include('./template/header.ejs') %>
  </header>

  
<div class="principal">
  <div class="area">
    <% if (arosParaYoga) { %>
    <div class="exzoom" id="exzoom">
      <div class="exzoom_img_box">
        <ul class="exzoom_img_ul">
          <li>
            <img class="misterio" src="<%=arosParaYoga.imagen%>"/>
          </li>
          <li>
            <img src="<%=arosParaYoga.imagen2%>"/>
          </li>
          <li>
            <img src="<%=arosParaYoga.imagen3%>"/>
          </li>
          <li>
            <img src="<%=arosParaYoga.variante%>"/>
          </li>
          <li>
            <img src="<%=arosParaYoga.variante2%>"/>
          </li>
          <li>
            <img src="<%=arosParaYoga.variante3%>"/>
          </li>
        </ul>
      </div>

      <!-- Barra de navegación Carrusel -->
    <div class="exzoom_nav"></div>

      <!-- Botones de navegación -->
      <p class="exzoom_btn">
        <a href="javascript:void(0);" class="exzoom_prev_btn"> < </a>
        <a href="javascript:void(0);" class="exzoom_next_btn"> > </a>
      </p>
    </div>
    <% }  %>
  </div>


  <div class="areaDos">
    <h1><%=arosParaYoga.titulo%></h1>
    <span>$ <%=arosParaYoga.precio%> mxn</span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ipsum accusantium magnam dolorum tenetur quo, quae assumenda, officia obcaecati provident odio porro odit. Ipsam numquam quis, beatae aspernatur eius consectetur?</p>
    <br>
    <!-- <p class="heartbeat">Coloca el cursor sobre la imagen para zoom</p> -->
    <h2>Características</h2>
      <h3>Medidas:</h3>
      <h3>Peso:</h3>
      <h3>Relleno:</h3>
    <br> <br>
  
      <h2>Selecciona tu color favorito y añade al carrito</h2>
      <div id='product-component-1640765349865'></div>
  </div>

</div>



    <footer>
      <%- include('./template/footer.ejs') %>
    </footer>




<!-- Inicia Scripts Zoom -->
  <%- include('./template/scriptZoom.ejs') %>
<!-- Fin Scripts Zoom -->


<!-- Shopify Producto -->
<script type="text/javascript">
  /*<![CDATA[*/
  (function () {
    var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
    if (window.ShopifyBuy) {
      if (window.ShopifyBuy.UI) {
        ShopifyBuyInit();
      } else {
        loadScript();
      }
    } else {
      loadScript();
    }
    function loadScript() {
      var script = document.createElement('script');
      script.async = true;
      script.src = scriptURL;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
      script.onload = ShopifyBuyInit;
    }
    function ShopifyBuyInit() {
      var client = ShopifyBuy.buildClient({
        domain: 'kaizencuatro.myshopify.com',
        storefrontAccessToken: '4164ed056729419d3e24bb720d01c9a4',
      });
      ShopifyBuy.UI.onReady(client).then(function (ui) {
        ui.createComponent('product', {
          id: '6716827369610',
          node: document.getElementById('product-component-1640765349865'),
          moneyFormat: '%24%20%7B%7Bamount%7D%7D',
          options: {
    "product": {
      "styles": {
        "product": {
          "@media (min-width: 601px)": {
            "max-width": "calc(25% - 20px)",
            "margin-left": "20px",
            "margin-bottom": "50px"
          }
        }
      },
      "contents": {
        "img": false,
        "title": false,
        "price": false
      },
      "text": {
        "button": "Añadir al carrito"
      }
    },
    "productSet": {
      "styles": {
        "products": {
          "@media (min-width: 601px)": {
            "margin-left": "-20px"
          }
        }
      }
    },
    "modalProduct": {
      "contents": {
        "img": false,
        "imgWithCarousel": true,
        "button": false,
        "buttonWithQuantity": true
      },
      "styles": {
        "product": {
          "@media (min-width: 601px)": {
            "max-width": "100%",
            "margin-left": "0px",
            "margin-bottom": "0px"
          }
        }
      },
      "text": {
        "button": "Añadir al carrito"
      }
    },
    "option": {},
    "cart": {
      "text": {
        "total": "Subtotal",
        "button": "Pasar a pago"
      }
    },
    "toggle": {}
  },
        });
      });
    }
  })();
  /*]]>*/
  </script>
</body>

</html>