<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Aros para Yoga</title>

  <!-- Inicia Head (CSS General, Tipografía y Fontawesome para íconos)-->
  <%- include('./template/head.ejs') %>
    <!-- Fin Head (CSS General, Tipografía y Fontawesome para íconos)-->

    <!-- Inicia enlace para CSS Tienda -->
    <link rel="stylesheet" href="../css/cssTienda.css" />
    <!-- Inicia enlace para CSS Tienda -->

    <!-- Inicia enlace para CSS Articulos -->
    <link rel="stylesheet" href="../css/cssArticulos.css" />
    <!-- Inicia enlace para CSS Articulos -->

    <!-- Inicia enlace para CSS Articulos -->
    <link rel="stylesheet" href="../css/cssZoom.css" />
    <!-- Inicia enlace para CSS Articulos -->

    
</head>
<body class="tienda">
  <!-- Inicia Barra superior-->
  <%- include('./template/barraSuperior.ejs') %>
    <!-- Fin Barra superior-->
    
    <header>
      <!-- Inicia header-->
      <%- include('./template/header.ejs') %>
        <!-- Fin header-->
    </header>

<div class="principal">
  <div class="area">
    <% if (arosParaYoga) { %>
    <div class="exzoom" id="exzoom">
      <div class="exzoom_img_box">
        <ul class="exzoom_img_ul">
          <li>
            <img src="<%=arosParaYoga.imagen%>" width="50px"/>
          </li>
          <li>
            <img src="<%=arosParaYoga.imagen2%>" width="100%"/>
          </li>
          <li>
            <img src="<%=arosParaYoga.imagen3%>" width="100%"/>
          </li>
        </ul>
      </div>

    <div class="exzoom_nav"></div>

      <!-- Nav Buttons -->
      <p class="exzoom_btn">
        <a href="javascript:void(0);" class="exzoom_prev_btn"> < </a>
        <a href="javascript:void(0);" class="exzoom_next_btn"> > </a>
      </p>
    </div>
    <% }  %>
  </div>


  <div class="areaDos">
    <h1><%=arosParaYoga.titulo%></h1>
  </div>


</div>




    <footer>
      <%- include('./template/footer.ejs') %>
    </footer>



<!-- <script src="../scripts/efectoLupa.js"></script> -->



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="../scripts/zoom.js"></script>

    <script>
      $(function () {
        $("#exzoom").exzoom({
          autoPlay: false,
          autoPlayTimeout: 4000,
        });
      });
    </script>
</body>

</html>