<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kaizen Yoga 2021</title>

  <!-- Inicia Head (CSS General, Tipografía y Fontawesoma para íconos)-->
  <%- include('./template/head.ejs') %>
    <!-- Fin Head (CSS General, Tipografía y Fontawesoma para íconos)-->

    <!-- Inicia enlace para CSS Index -->
    <link rel="stylesheet" href="../css/cssTienda.css" />
    <!-- Inicia enlace para CSS Index -->

<body class="tienda">

  <!-- Inicia Barra superior-->
  <%- include('./template/barraSuperior.ejs') %>
    <!-- Fin Barra superior-->

    <header>
      <!-- Inicia header-->
      <%- include('./template/header.ejs') %>
        <!-- Fin header-->
    </header>


    <!--Inicia Menú cambiable-->
    <nav class="navColecciones">
      <ul>
        <button id="textoColeccionTodos" onclick="botonColeccionTodos()">
          <li>Colección Todos</li>
        </button>

        <button id="botonColeccionUno" onclick="botonColeccionUno()">
          <li>Colección Uno</li>

        </button>

        <button id="botonColeccionDos" onclick="botonColeccionDos()">
          <li>Colección Dos</li>
        </button>
      </ul>
    </nav>
    <!--Fin Menú cambiable-->



    <div class="mosaicoColecciones">
      <div id="contenidoTodos">
<!-- Aros para Pilates -->
        <div class="padreArticulo">
          <% for(i=0; i < arosParaPilates.length; i++) { %>
            <img loading="lazy" src="<%=arosParaPilates[i].imagen%>" width="100%"> </img>
            <h2> <%=arosParaPilates[i].titulo%> </h2>
            <p>$ <%=arosParaPilates[i].precio%> mxn </p>
            <button onclick="clicPop()" id="myBtn">Ver modelos</button>
            <% } %>
        </div>

<!-- Bolsas para Yoga -->
        

        
<!-- Artículo de prueba -->
        <div class="padreArticulo" >
          <% for(i=0; i < arosParaPilates.length; i++) { %>
            <img loading="lazy" src="<%=arosParaPilates[i].imagen%>" width="100%"> </img>
            <h2> <%=arosParaPilates[i].titulo%> </h2>
            <p>$ <%=arosParaPilates[i].precio%> mxn </p>
            <button onclick="clicPop()" id="myBtn">Ver modelos</button>
            <% } %>
        </div>


      </div>

      <div id="contenidoUno" style="display: none">
        <h3>Soy el id=contenidoUno para artículos de PILATES</h3>
      </div>

      <div id="contenidoDos" style="display: none">
        <h3>Soy el id=contenidoDos para artículos de YOGA</h3>
      </div>
    </div>

    <footer>
      <div>Contacto</div>
      <div>Redes</div>
      <div>Métodos de pago</div>
    </footer>




    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <%- include('./template/productos/aroParaPilates') %>
      </div>
    </div>

<!-- Inicia Efecto para mostrar MODAL/POPUP -->
<script src="./scripts/pop.js"></script>
<!-- Fin Efecto para mostrar MODAL/POPUP -->

    <!-- Script para efecto de navegación Colección -->
    <script src="./scripts/parrafoTienda.js"></script>

     

</body>

</html>