<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tienda de Yoga</title>

  <!-- Inicia Head (CSS General, Tipografía y Fontawesoma para íconos)-->
  <%- include('./partials/head.ejs') %>
    <!-- Fin Head (CSS General, Tipografía y Fontawesoma para íconos)-->

    <!-- Inicia enlace para CSS de Tienda -->
    <link rel="stylesheet" href="../css/cssTienda.css" />
    <!-- Fin enlace para CSS de Tienda -->

</head>
<body class="tienda">
  <!-- Inicia Barra superior-->
  <%- include('./partials/barraSuperior.ejs') %>
    <!-- Fin Barra superior-->
    
    <header>
      <!-- Inicia header-->
      <%- include('./partials/header.ejs') %>
        <!-- Fin header-->
    </header>


    <!--Inicia Menú cambiable-->
    <nav class="navColecciones">
      <ul>
        <button id="textoColeccionTodos" onclick="botonColeccionTodos()">
          <li>Todos</li>
        </button>

        <button id="botonColeccionUno" onclick="botonColeccionUno()">
          <li>Yoga</li>
        </button>

        <button id="botonColeccionDos" onclick="botonColeccionDos()">
          <li>Pilates</li>
        </button>
      </ul>
    </nav>
    <!--Fin Menú cambiable-->



    <div class="mosaicoColecciones">
      <div id="contenidoTodos">
        <!-- Todos los artículos -->
        <% for(i=0; i < articulos.length; i++) { %>
          <div id="myBtn" class="padreArticulo">
            <img src="<%=articulos[i].imagen%>" width="100%" alt="<%=articulos[i].titulo%>"> </img>
            <h2><%=articulos[i].titulo%></h2>
            <p>$ <%=articulos[i].precio%> mxn </p>
            <a href="/tienda/<%=articulos[i].url%>">
              <button>Ver artículo</button>
            </a>
          </div>
          <% } %>
      </div>


      <div id="contenidoUno" style="display: none">
        <!-- Todo Yoga -->
        <% for(i=0; i < yoga.length; i++) { %>
          <div id="myBtn" class="padreArticulo">
            <img src="<%=yoga[i].imagen%>" width="100%"> </img>
            <h2><%=yoga[i].titulo%></h2>
            <p>$ <%=yoga[i].precio%> mxn </p>
              <a href="/tienda/<%=yoga[i].url%>">
                <button>Ver artículo</button>
              </a>
          </div>
          <% } %>
      </div>

      <div id="contenidoDos" style="display: none">
        <!-- Todo Pilates -->
        <% for(i=0; i < pilates.length; i++) { %>
          <div id="myBtn" class="padreArticulo">
            <img src="<%=pilates[i].imagen%>" width="100%"> </img>
            <h2><%=pilates[i].titulo%></h2>
            <p>$ <%=pilates[i].precio%> mxn </p>
            <a href="/tienda/<%=pilates[i].url%>">
              <button>Ver artículo</button>
            </a>
          </div>
          <% } %>
      </div>
    </div>

    <footer>
      <%- include('./partials/footer.ejs') %>
    </footer>


    <!-- Script para efecto de navegación Colección -->
    <script defer src="./scripts/parrafoTienda.js"></script>


    <!-- Script para Active Carrito -->
    <script defer src="./scripts/activeCarrito.js"></script>
    

</body>

</html>