<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zafu Redondo Liso</title>

    <!-- Inicia enlace para CSS Zoom -->
    <link rel="stylesheet" href="../css/cssZoom.css" />
    <!-- Inicia enlace para CSS Zoom -->

  <!-- Inicia Head (CSS General, Tipografía y Fontawesome para íconos)-->
  <%- include('../partials/head.ejs') %>
    <!-- Fin Head (CSS General, Tipografía y Fontawesome para íconos)-->

    <!-- Inicia enlace para CSS Tienda -->
    <link rel="stylesheet" href="../css/cssTienda.css" />
    <!-- Inicia enlace para CSS Tienda -->

    <!-- Inicia enlace para CSS Articulos -->
    <link rel="stylesheet" href="../css/cssArticulos.css" />
    <!-- Inicia enlace para CSS Articulos -->

    
</head>
<body class="tienda">
  <!-- Inicia Barra superior-->
  <%- include('../partials/barraSuperior.ejs') %>
    <!-- Fin Barra superior-->
    
    <header>
      <%- include('../partials/header.ejs') %>
  </header>

  
<h1>Hole</h1>



    <footer>
      <%- include('../partials/footer.ejs') %>
    </footer>


<!-- Inicia Scripts Zoom -->
    <%- include('../resources/scriptZoom.ejs') %>
<!-- Fin Scripts Zoom -->


<!-- Shopify Producto -->


</body>

</html>