<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zafu Redondo Liso</title>


    <!-- Inicia Head (CSS General, Tipografía y Fontawesome para íconos)-->
      <%- include('../partials/head.ejs') %>
    <!-- Fin Head (CSS General, Tipografía y Fontawesome para íconos)-->

    <!-- Inicia enlace para CSS Tienda -->
      <link rel="stylesheet" href="../css/cssTienda.css" />
    <!-- Inicia enlace para CSS Tienda -->


    <!-- Inicia enlace para CSS Articulos -->
      <link rel="stylesheet" href="../css/cssArticulos.css" />
    <!-- Inicia enlace para CSS Articulos -->

</head>
<body class="tienda">
  <!-- Inicia Barra superior-->
    <%- include('../partials/barraSuperior.ejs') %>
  <!-- Fin Barra superior-->
    
  <header>
    <%- include('../partials/header.ejs') %>
  </header>
  
  <div class="principal">
    <div class="area fade">
      <div>
        <img loading="lazy" width="320px" src="https://cdn.shopify.com/s/files/1/0555/2766/9898/files/zafu-redondo-liso-uno.jpg?v=1643083117" alt="" srcset="">
      </div>
      <div>
        <img loading="lazy" width="320px" src="https://cdn.shopify.com/s/files/1/0555/2766/9898/files/zafu-redondo-liso-dos.jpg?v=1643083117" alt="" srcset="">
      </div>
      <div>
        <img loading="lazy" width="320px" src="https://cdn.shopify.com/s/files/1/0555/2766/9898/files/zafu-redondo-liso-tres.jpg?v=1643083117" alt="" srcset="">
      </div>
      <div>
        <img loading="lazy" width="320px" src="https://cdn.shopify.com/s/files/1/0555/2766/9898/files/zafu-redondo-liso-cuatro.jpg?v=1643083117" alt="" srcset="">
      </div>
      <br>
    </div>
  
    <div class="areaDos">
      <h1>afuRedondoLiso.titulo</h1>
      <span> mxn</span>
      <br>
      
      <p>El Zafu es una herramienta útil para la práctica de la meditación ya que te permite mantener la espalda recta, tener un mejor equilibrio manteniendo relajados los músculos logrando alcanzar una meditación y respiración más profundas.</p>
      <br>
      <h2>Características:</h2>
        <li>Fabricado con tergal (algodón y poliéster).</li>
        <li>Relleno de cascarilla de café.</li>
        <li>Funda interna de manta (para ajustar la altura deseada).</li>
        <li>Práctica haza para su transportación.</li>
      <br>
      <h2>Diferentes colores que se adaptan a tu estilo</h2>
        <div class="multiple-items">
          <img src="https://cdn.shopify.com/s/files/1/0555/2766/9898/files/zafu-redondo-liso-amarillo.jpg?v=1643083479" alt="" srcset="">
          <img src="https://cdn.shopify.com/s/files/1/0555/2766/9898/files/zafu-redondo-liso-azul.jpg?v=1643083479" alt="" srcset="">
          <img src="https://cdn.shopify.com/s/files/1/0555/2766/9898/files/zafu-redondo-liso-azul-claro.jpg?v=1643083480" alt="" srcset="">
          <img src="https://cdn.shopify.com/s/files/1/0555/2766/9898/files/zafu-redondo-liso-cafe.jpg?v=1643083480" alt="" srcset="">
          <img src="https://cdn.shopify.com/s/files/1/0555/2766/9898/files/zafu-redondo-liso-crema.jpg?v=1643083480" alt="" srcset="">
          <img src="https://cdn.shopify.com/s/files/1/0555/2766/9898/files/zafu-redondo-liso-gris.jpg?v=1643083479" alt="" srcset="">
          <img src="https://cdn.shopify.com/s/files/1/0555/2766/9898/files/zafu-redondo-liso-morado.jpg?v=1643083480" alt="" srcset="">
          <img src="https://cdn.shopify.com/s/files/1/0555/2766/9898/files/zafu-redondo-liso-naranja.jpg?v=1643083480" alt="" srcset="">
          <img src="https://cdn.shopify.com/s/files/1/0555/2766/9898/files/zafu-redondo-liso-negro.jpg?v=1643083479" alt="" srcset="">
          <img src="https://cdn.shopify.com/s/files/1/0555/2766/9898/files/zafu-redondo-liso-pastel.jpg?v=1643083479" alt="" srcset="">
          <img src="https://cdn.shopify.com/s/files/1/0555/2766/9898/files/zafu-redondo-liso-rojo.jpg?v=1643083479" alt="" srcset="">
          <img src="https://cdn.shopify.com/s/files/1/0555/2766/9898/files/zafu-redondo-liso-rosa.jpg?v=1643083479" alt="" srcset="">
          <img src="https://cdn.shopify.com/s/files/1/0555/2766/9898/files/zafu-redondo-liso-verde.jpg?v=1643083479" alt="" srcset="">
          <img src="https://cdn.shopify.com/s/files/1/0555/2766/9898/files/zafu-redondo-liso-vino.jpg?v=1643083480" alt="" srcset="">
        </div>
      <br>
      <p>Añade al carrito tu favorito</p>
        <div id='product-component-1643088587799'></div>
      <br>
      <h2>Medidas:</h2>
        <li>35 cm diámetro 16 cm de alto.</li>
      
      <br>
      <h6>*Hecho en México por artesanos mexicanos.</h6>
    
    </div>

  </div>

  <section>
    <h1 style="text-align: center";>Artículos relacionados</h1>
  </section>


    <footer>
      <%- include('../partials/footer.ejs') %>
    </footer>


<!-- Shopify Producto -->
<script type="text/javascript">
  /*<![CDATA[*/
  (function () {
    var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
    if (window.ShopifyBuy) {
      if (window.ShopifyBuy.UI) {
        ShopifyBuyInit();
      } else {
        loadScript();
      }
    } else {
      loadScript();
    }
    function loadScript() {
      var script = document.createElement('script');
      script.async = true;
      script.src = scriptURL;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
      script.onload = ShopifyBuyInit;
    }
    function ShopifyBuyInit() {
      var client = ShopifyBuy.buildClient({
        domain: 'kaizencuatro.myshopify.com',
        storefrontAccessToken: '4164ed056729419d3e24bb720d01c9a4',
      });
      ShopifyBuy.UI.onReady(client).then(function (ui) {
        ui.createComponent('product', {
          id: '6750427938954',
          node: document.getElementById('product-component-1643088587799'),
          moneyFormat: '%24%20%7B%7Bamount%7D%7D',
          options: {
    "product": {
      "styles": {
        "product": {
          "@media (min-width: 601px)": {
            "max-width": "calc(25% - 20px)",
            "margin-left": "20px",
            "margin-bottom": "50px"
          }
        }
      },
      "contents": {
        "img": false,
        "title": false,
        "price": false
      },
      "text": {
        "button": "Añadir al carrito"
      }
    },
    "productSet": {
      "styles": {
        "products": {
          "@media (min-width: 601px)": {
            "margin-left": "-20px"
          }
        }
      }
    },
    "modalProduct": {
      "contents": {
        "img": false,
        "imgWithCarousel": true,
        "button": false,
        "buttonWithQuantity": true
      },
      "styles": {
        "product": {
          "@media (min-width: 601px)": {
            "max-width": "100%",
            "margin-left": "0px",
            "margin-bottom": "0px"
          }
        }
      },
      "text": {
        "button": "Add to cart"
      }
    },
    "option": {},
    "cart": {
      "text": {
        "total": "Subtotal",
        "button": "Checkout"
      }
    },
    "toggle": {}
  },
        });
      });
    }
  })();
  /*]]>*/
</script>


<!-- Inicia bloque para slick carousel -->
<%- include('../partials/articulosEfectos.ejs') %>

</body>

</html>